*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

.hero{
    height:300px;
}

.bg-bleed{
    background:linear-gradient(to right,black,rgb(77, 15, 15),rgb(151, 10, 10));
    color:white;
}

.bg-black{
    background:black;
}

.bg-green{
    background:green;
}

.text-white{
    color:white
}

.text-center{
    text-align:center;
}

.lspacing-2{
    letter-spacing:3px;
}

.uppercase{
    text-transform:uppercase;
    font-size:40px;
}

.transform-l{
    transform:translateX(10%)
}

.mt-md{
    margin-top:25px;
}

h2{
    margin:5px 20px;
}

.poster-img{
    border-radius:50%;
    height:100px;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:3px;
}


.flex{
    display:flex;
}

.flex-end{
    justify-content: flex-end;
    align-items:center;
}

.between{
    align-items:center;
    justify-content: space-between;
}

.evenly{
    align-items:center;
    justify-content: space-evenly;
}

.center{
    align-items:center;
    justify-content: center;
}

.m-md{
    margin:5px 10px;
}

.ml-sm{
    margin-left:15px;
}

.mr-15{
    margin-right:15px;
}

.w-100{
    width:100px;
}

tr{
    height:50px;
}

.p-1{
    padding:.5em;
}

.p-2{
    padding:2em;
}



li{
    list-style:none;
}

a{
    color:white;
    text-decoration:none;
}

a:hover{
    border-bottom:1px solid white;
}

.underline{
    text-decoration:underline;
}


.container{
    height:250px;
    overflow:auto;
    width:98%;
    margin:0 auto;
    position:relative;
    padding:.5em;
}

.dates{
    font-family: 'Montserrat', sans-serif;
}

.border-bottom{
    border-bottom:1px solid black;
}


.about-img{
    border-radius:50%;
    margin:10px;
}

.album-img{
    height:150px;
}

.cart-img{
    height:50px;
}

.float-r{
    float:right;
}

.size-100{
    height:200px;
}

.float-l{
    float:left;
}


table{
    width:100vw;
    text-align:center;
    margin:0 auto;

}

/* .gallery{
    display:flex;
    align-items:center;
    justify-content: center;
    width:300px;
    height:150px;
    border:1px solid black;
} */



@media screen and (max-width:550px){
    .grid{
        display:grid;
        grid-template-columns:1fr;
    }

    .navbar h2{
        font-size:15px;
        /* color:blue; */
    }
}